<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>

<body >
微信jssdk支付
<button id="getSign">调起支付</button>
<script>
var url = location.href.split('#')[0];
debugger;
$.ajax({
    url:"http://gogirl.panzhihui.cn/js_sdk_sign",
    type : "get",
    data : {
        "url" : url
    },
    success : function(response) {
    	debugger;
    	wx.config({
    	    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    	    appId: response.data.appId, // 必填，公众号的唯一标识
    	    timestamp: response.data.timestamp, // 必填，生成签名的时间戳
    	    nonceStr: response.data.nonceStr, // 必填，生成签名的随机串
    	    signature: response.data.signature,// 必填，签名
    	    jsApiList: ['openLocation','getLocation'] // 必填，需要使用的JS接口列表
    	});
    	wx.ready(function () {
    		debugger;
			alert("config完成")
    	});
    },
    error: function (jqXHR, textStatus, errorThrown) {
    	debugger;
    }
});  






var data = null;
$('#getSign').on('click',function(){
    $.ajax({
        url:'http://gogirl.panzhihui.cn/gogirl_payment/unifiedorderGetJsAPIConfig',
        type : "get",
        data : {
            "openId" : "oNzJP1YN_Tf6SP8tBWkIgztCpl6s",
            "money" : "101",
            "body" : "body",
            "attach" : "attach",
            "orderId" : "orderId"
        },
        success : function(response) {
        	debugger;
        	data = response.data.jsAPIConfig;
        	
    		wx.chooseWXPay({
                "appId" : data.appId, 
                timestamp: data.timestamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
    			nonceStr: data.nonce, // 支付签名随机串，不长于 32 位
    			package: data.packageName, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
    			signType: data.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
    			paySign: data.signature, // 支付签名
    			success: function (res) {
    				alert(JSON.stringify(res));
    			// 支付成功后的回调函数
    			},
        		error:function (jqXHR, textStatus, errorThrown) {
        			alert(JSON.stringify(res));
        			debugger;
        		}
    		});			
    		        	
        	
        	
        }     
    });         
});

</script>
</body>

</html>